{% extends "orbweb/partials/header.html" %}

{% block home_content %}
{% include "orbweb/partials/navbar.html" %}
<div class="publications-container">
    {% for post in posts %}
    {% include "orbweb/partials/post_home.html" %}
    {% endfor %}
</div>
{% include "orbweb/partials/button_post.html" %}
{% include "orbweb/partials/levprofile.html" %}
<div class="discussion-content">
    <div class="discussion-fire">
        <i class="fa-solid fa-fire-flame-curved"></i>
        <h2>Discussões do Dia</h2>
    </div>
    <div class="discussion-topics">
        <div class="discussion-post">
            <h3>Desenvolvimento de jogos independentes</h3>
            <p>Quais motores de jogo (Unity, Unreal Engine, Godot) vocês preferem e por quê? Quais são os maiores
                desafios no
                desenvolvimento de jogos independentes?
            </p>
        </div>
    </div>
</div>
{% endblock home_content %}