{% extends "orbweb/partials/header.html" %}

{% block home_content %}
{% include "orbweb/partials/navbar.html" %}
<div class="publications-container">
    {% for post in posts %}
        {% include "orbweb/partials/post_home.html" %}
    {% endfor %}
</div>
{% include "orbweb/partials/button_post.html" %}
{% include "orbweb/partials/levprofile.html" %}
<div class="discussion-content">
    <div class="discussion-fire">
        <i class="fa-solid fa-fire-flame-curved"></i>
        <h2>Discussões do Dia</h2>
    </div>
    <div class="discussion-topics">
        {% for disc_post in disc_posts %}
            <div class="discussion-post">
                <h3>{{ disc_post.title }}</h3>
                <p>{{ disc_post.content }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock home_content %}
