<div class="lev-profile">
    <div class="profile-picture">
        <img src="path_to_profile_picture.jpg" alt="Profile Picture">
    </div>
    <div class="profile-info">
        <h2>@lakeklol_</h2>
        <p>Estudante de Ciência da Computação apaixonado por programação e tecnologia. Desenvolvedor full stack em
            formação, explorando o universo do Python, Django, Node.js e React. Participante ativo de Game Jams e
            maratonas de programação. Amante de desafios e sempre em busca de novos conhecimentos. Atualmente
            trabalhando em projetos pessoais como um sistema de gerenciamento de contas bancárias fictício e um site de
            receitas. Curioso por natureza e sempre disposto a aprender e compartilhar experiências.</p>
    </div>
</div>