<nav class='content-navbar'>
    <ul class='navegation-ul'>
        <li class="nav-item">
            <a href="{% url "home" %}" class='underline'>
                <i class="fa-solid fa-rocket"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url "discussion" %}" class='underline-fire'>
                <i class="fa-solid fa-fire"></i>
                <span class="fa-fire-title">Discussões</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="" class='underline'>
                <i class="fa-solid fa-user-astronaut"></i>
                <span>Perfil</span>
            </a>
        </li>
    </ul>
</nav>
<div class="settings">
    <a href="" class='underline'>
        <i class="fa-solid fa-gear"></i>
        <span>Configurações</span>
    </a>
</div>
<div class="toggle-button">
    <i id="darkModeToggle" class="fa-solid fa-circle-half-stroke"></i>
</div>

<script>
    function toggleDarkMode() {
        document.body.classList.toggle('dark-mode');
        if (document.body.classList.contains('dark-mode')) {
            localStorage.setItem('darkMode', 'enabled');
        } else {
            localStorage.setItem('darkMode', 'disabled');
        }
    }

    document.getElementById('darkModeToggle').addEventListener('click', toggleDarkMode);

    if (localStorage.getItem('darkMode') === 'enabled') {
        document.body.classList.add('dark-mode');
    }
</script>