<nav class='content-navbar'>
    <ul class='navegation-ul'>
        <li class="nav-item">
            <a href="{% url "home" %}" class='underline'>
                <i class="fa-solid fa-rocket"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url "discussion" %}" class='underline-fire'>
                <i class="fa-solid fa-fire"></i>
                <span class="fa-fire-title">Discussões</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="" class='underline'>
                <i class="fa-solid fa-user-astronaut"></i>
                <span>Perfil</span>
            </a>
        </li>
    </ul>
</nav>
<div class="settings">
    <a href="" class='underline'>
        <i class="fa-solid fa-gear"></i>
        <span>Configurações</span>
    </a>
</div>
<div class="toggle-button">
    <button><i class="fa-solid fa-circle-half-stroke"></i></button>
</div>