<div class="disc-div">
    <div class="disc-header">
        {% if post.user.profile_pic %}
            <img src="{{ post.user.profile_pic.url }}" class="profile-pic">
        {% endif %}
        <h2>{{ post.user.username }}</h2>
        <h3>{{ post.created_at }}</h3>
    </div>
    <div class="disc-content">
        <p><h1>{{ post.title }}</h1></p>
        <p>{{ post.content }}</p>
    </div>
    <div class="disc-footer">
        <div class="disc-icons">
            <span class="comment-section">
                <i class="fa-solid fa-comments"></i>
                <span class="comment-count">{{ post.comments }}</span>
            </span>
        </div>
    </div>
</div>
